<img class="largeimg" src="{{question.image}}" alt="{{question.notes}}"><br>
<h3>"{{question.main}}?"</h3>
<h4>by {{question.author}}</h4>
<h3>{{question.notes}}</h3>

<button class="gone" {{action 'delete' question}}>Erase Question</button>
