{{new-question saveQuestion="saveQuestion"}}

<div class="flexed">
  {{#each model.questions as |question|}}
     <div class="question-card">
      {{question-tile question=question destroyQuestion="destroyQuestion" update="update"}}
     </div>
  {{/each}}
</div>

{{new-answer saveAnswer="saveAnswer"}}

<div class="flexed">
  {{#each model.answers as |answer|}}
     <div class="question-card">
      "{{answer.main}}" ~ {{answer.author}}
     </div>
  {{/each}}
</div>
